body {
	margin: 0;
	background: rgb(0,0,0);
  	background: linear-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 57%, rgba(0,0,0,1) 69%, rgba(0,0,0,1) 82%);
}

.container {
	color: white;
	display: grid;
	grid-template-rows: repeat(8,auto);
	grid-gap: 10px;
}
.div1{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 50px;	
}
nav{
	
	ul	
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 50px;

		li
		{
			width: 135px;
			height: 35px;
			border-radius: 10px;
			background-color: darkmagenta;
			display: flex;
			justify-content: center;
			align-items: center;
			a
			{
				text-decoration: none;
				color: white;
				font-size: 20px;
				font-weight: 200;
				
			}
		}
	}
}

button{
	width: 200px;
	border-width: 1px;
	border-radius: 10px;
	background-color: darkmagenta;
	border-color: darkmagenta;
	font-size: 13px;
	font-weight: 600;

}